{% extends 'base.html' %}
{% block content %}
      <!-- Header-->
      <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About</h1>
                <p class="lead fw-normal text-white-50 mb-0">This is the about page </p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                </br>
    
                    <p>Welcome to <strong>Journals for Now</strong> – your go-to destination for thoughtfully designed journals, mental health tools, and products that inspire personal growth.</p>
                    <p>We believe that every journey begins with a spark of creativity and purpose. At <strong>Journals for Now</strong>, we’re dedicated to providing you with high-quality, unique products that blend functionality, style, and inspiration.</p>
                    <h2>Our Story</h2>
                    <p>Our story began with a passion for empowering self-expression through writing. This passion drives us to collaborate with talented designers to bring you exclusive collections that cater to your needs, whether you’re reflecting, setting goals, or seeking mindfulness.</p>
                    <h2>Why Shop With Us?</h2>
                    <ul>
                        <li><strong>Quality You Can Trust:</strong> Each product is crafted with care and attention to detail.</li>
                        <li><strong>Unique Designs:</strong> We partner with creators to bring you journals and products you won’t find anywhere else.</li>
                        <li><strong>Customer First:</strong> Your satisfaction is our priority, and we’re here to support you every step of the way.</li>
                    </ul>
                    <p>Join us in making every day more meaningful with the power of journaling. Together, we can inspire creativity, clarity, and personal growth.</p>
               
                </div>
            </center>
        </div>
    </div>
{% endblock %}