{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Register</h1>
            <p class="lead fw-normal text-white-50 mb-0">Register</p>
        </div>
    </div>
</header>

<!-- Registration Form -->
<div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="row w-100">
        <div class="col-md-6 offset-md-3 bg-light p-4 rounded shadow">
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="mt-4 text-center">
                    <button type="submit" class="btn btn-secondary px-4">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
